<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/public/assets/css/reset.css">
  <link href="https://fonts.googleapis.com/css?family=Cabin:500|Creepster|Russo+One" rel="stylesheet">

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <link rel="stylesheet" href="/public/assets/css/style.css">
  <title></title>
</head>

<body>
  {{{body}}}
  <footer class="proj-footer">
    <div class="footer-copyright">
      <div class="container">
        <span class="grey-text text-lighten-4">Copyright &copy; 2018 Laurentius Tirtarahardja, Rebecca A. Olson, Michael Klingelberg</span>
      </div>
    </div>
  </footer>
</body>

</html>