* {
  box-sizing: border-box;
}
body {
  font-family: 'Russo-One', sans-serif;
  color: white;
  background-color: rgba(54, 54, 54, 0.904);
}
nav ul a,
nav .brand-logo {
  background-color: rgba(54, 54, 54, 0.904);
  font-family: 'Russo-One', sans-serif;
  color: white !important;
}
.brand-logo {
  height: 60px;
  width: 270px;
}

.soa-nav {
  background-color: rgba(54, 54, 54, 0.904);\
  margin-bottom: 40px;
}

.dropdown-button {
  margin-top: 1.5%;
}

.dropdown-content {
  color: white !important;
}

.challenge-statement {
  padding-top: 5%;
}

.page-counter {
  background-color: rgba(206, 125, 19, 0.9);
}

p {
  line-height: 2rem;
}

h1,
h2,
h3,
h4 {
  font-family: 'Creepster', cursive;
  color: rgba(197, 9, 9, 0.925) !important;
  text-shadow: 2px 2px #2b2a2a;
}

.button-collapse {
  color: #fcfcfc;
}

.card {
  height: 650px;
}

.form {
  margin: 50px 475px 50px 475px;
}

.form-button {
  margin: 0px 475px 100px 500px;
}

.card-image {
  height: 50%;
  width: auto;
  object-fit: cover;
}

.card-title-text {
  text-align: center;
}

.card-content {
  position: relative;
  top: -335px;
  left: -25px;
}

.activator {
  max-height: 100%;
  object-fit: contain;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9);
}
.parallax-container .section {
  width: 100%;
}

.parallax-image {
  width: 125%;
  height: inherit;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.divider {
  margin: 3% 0;
}

footer.page-footer {
  margin: 0;
  background-color: rgba(197, 9, 9, 0.925) !important;
}

footer.page-footer h5 {
  width: 550px;
}

footer.page-footer p {
  width: 550px;
}

.footer-copyright {
  background-color: rgba(197, 9, 9, 0.925) !important;
}

.review-links {
  text-align: center;
  width: 100%;
  align-self: auto;
}

.review-link1,
.review-link2,
.review-link3 {
  float: left;
  margin-left: auto;
  margin-right: auto;
  align-self: auto;
  position: relative;
  top: 250px;
  left: 55px;
}

.product-description-div {
  overflow: scroll;
  text-overflow: ellipsis;
}

.review-link2 {
  position: relative;
  left: 20%;
}

.review-link3 {
  position: relative;
  left: 40%;
}

.pagination {
  margin-bottom: 2%;
}

.dropdown-content {
  width: 175px !important;
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}
