* {
  box-sizing: border-box;
}
body {
  font-family: 'Russo-One', sans-serif;
  color: white;
  background-color: rgba(54, 54, 54, 0.904);
}
nav ul a,
nav .brand-logo {
  background-color: rgba(54, 54, 54, 0.904);
  font-family: 'Russo-One', sans-serif;
  color: white !important;
}
.brand-logo {
  height: 60px;
  width: 270px;
}

.soa-nav {
  background-color: rgba(54, 54, 54, 0.904);
}

.brand-logo {
  position: relative;
  left: 375px;
}

.dropdown-button {
  margin-top: 1.5%;
}

.dropdown-content {
  color: white !important;
}

.activator {
  margin-top: 2%;
}

.challenge-statement {
  padding-top: 5%;
}

.products {
  margin: 1% 0;
  height: 650px;
}

.page-counter {
  background-color: rgba(206, 125, 19, 0.9);
}

p {
  line-height: 2rem;
}

h1,
h2,
h3,
h4 {
  font-family: 'Creepster', cursive;
  color: rgba(197, 9, 9, 0.925) !important;
  text-shadow: 2px 2px #2b2a2a;
}

.button-collapse {
  color: #fcfcfc;
}

.card {
  height: 650px;
}

.form {
  margin: 50px 475px 50px 475px;
}

.form-button {
  margin: 0px 475px 100px 500px;
  position: relative;
  left: 152px;
}

.card-image {
  height: 50%;
  width: auto;
  object-fit: cover;
}

.card-title-text {
  text-align: center;
}

.card-content {
  position: relative;
  top: -335px;
  left: -25px;
}

.activator {
  max-height: 100%;
  object-fit: contain;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9);
}
.parallax-container .section {
  width: 100%;
}

.parallax-image {
  width: 125%;
  height: inherit;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.divider {
  margin: 3% 0;
}

.products-form {
  margin: 1% 0;
  height: 650px;
  position: relative;
  left: 370px !important;
}

footer.page-footer {
  margin: 0;
  background-color: rgba(197, 9, 9, 0.925) !important;
}

footer.page-footer h5 {
  width: 550px;
  text-align: center;
}

footer.page-footer p {
  width: 550px;
  text-align: center;
}

.footer-col {
  position: relative;
  left: 75px !important;
}

.footer-copyright {
  background-color: rgba(197, 9, 9, 0.925) !important;
  text-align: center;
}

.review-link1 {
  float: left;
  margin-left: auto;
  margin-right: auto;
  align-self: auto;
  position: relative;
  top: 260px;
  left: 55px;
}

.review-score {
  color: black;
  position: relative;
  left: 50px;
}

.product-description-div {
  width: 90%;
  position: relative;
  left: 65px;
  height: 200px;
  overflow-y: auto;
  text-overflow: ellipsis;
  color: black;
}

.buy-link {
  position: relative;
  top: 260px;
  left: 350px;
}

.buy-link-form {
  position: relative;
  top: 260px;
  left: 550px;
}

.dropdown-content {
  width: 175px !important;
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }

  #index-banner .section {
    top: 10%;
  }

  .buy-link {
    position: relative;
    left: 270px;
  }

  .product-description {
    padding-right: 25px;
  }
}

@media only screen and (max-width: 767px) {
  #index-banner .section {
    top: 0;
  }
}

@media only screen and (max-width: 575px) {
}
